@media (max-width: 1440px) {}
@media (max-width: 1320px) {}
@media (max-width: 1290px) {}
@media (max-width: 1170px) {}
@media (max-width: 1140px) {}
@media (max-width: 1024px) {}
@media (max-width: 992px) {}
@media (max-width: 850px) {}
@media (max-width: 768px) {
 .header__list {
    column-gap: 10px;
 }
 .header__image {
    width: 350px;
 }
 .sale__image-img {
   width: 0;
   height: 0;
}
}
@media (max-width: 734px) {
 .header__image {
    width: 300px;
 }
 .header__list {
    column-gap: 5px;
 }
 .header__link {
    font-size: 12px;
 }
 .sale__image-img {
   width: 0;
   height: 0;
}
}
@media (max-width: 684px) {
    .header__list {
        column-gap: 5px;
     }
     .header__link {
        font-size: 10px;
     }
     .sale__image-img {
      width: 0;
      height: 0;
   }
}
@media (max-width: 667px) {
   .sale__image-img {
      width: 0;
      height: 0;
   }
}

@media (max-width: 576px) {
  .sale__image-img {
      width: 0;
      height: 0;
   }
}
@media (max-width: 480px) {}
@media (max-width: 412px) {}
@media (max-width: 375px) {}
@media (max-width: 320px) {}


